/* 

-----------------
Common Properties
-----------------

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {

    background-color: rgb(37, 2, 30);

}

/*

---------------------------

Primary Section Starts Here

--------------------------
*/


.primary-division {

    display: flex;
    justify-content: center;
    /* background-image: linear-gradient(rgb(61, 5, 40), rgb(51, 4, 49)); */
    background-image: linear-gradient(rgb(94, 2, 52), rgb(37, 2, 30));
    border-radius: 20px;
    margin: 140px;
    margin-top: 30px;
    padding: 30px;
    padding-bottom: 90px;

}


/* 

-----------------

Left Sub-division 

-----------------

*/

.sub-left-div {

    margin-left: 105px;
    margin-top: 110px;
    margin-right: 50px;
    font-size: 30px;
}


.fifa-world-heading,
.welcome-paragraph {

    color: rgb(255, 255, 255);

}


.fifa-world-heading {

    transition: 6s;
    line-height: 75px;

}


.qatar-word {

    font-size: 50px;


}

.year-head {

    font-size: 100px;
    color: rgb(155, 7, 46);
}



.welcome-paragraph {

    font-size: 20px;
    margin-top: 50px;
    margin-right: 150px;

}


.watch-live-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(250, 250, 250));
    color: rgb(0, 0, 0);
    position: relative;
    top: 50px;
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
    font-size: 20px;
    font-weight: bolder;
}


@keyframes blinking {

    from {

        color: rgb(216, 15, 48);

    }



    to {
        color: rgb(13, 228, 13);

    }

}


.fa-circle {

    color: rgb(146, 20, 68);
    padding: 10px;
    animation: blinking 2s ease 0s infinite alternate;
}





.watch-live-button:hover {
    transition: 0.2s;
    opacity: 0.5;
    padding: 30px;
}

/* Sub-Left Division Ends Here */







/* 

------------------
Right Sub-division
------------------
*/


.sub-right-div {

    margin: 50px;
    margin-right: 70px;

}

.fifa-logo {

    height: 450px;
    width: 400px;
    margin-right: 50px;

}


/* 

--------------
Middle Section
--------------

*/


.middle-division {

    display: flex;
    justify-content: center;
    margin: 0px;

}


/* Upcoming Event Page Properties */



.ver {

    display: flex;
    justify-content: center;

}

.flags {

    margin: 20px;

}

/* Versus Heading */
.versus {

    text-align: center;
    align-items: center;
    position: relative;
    top: 30px;
}




.button-list {

    padding: 50px;
    margin-top: 25px;
    margin-bottom: 550px;
    background-color: rgb(63, 7, 63);
    background-image: linear-gradient(rgb(94, 2, 52), rgb(37, 2, 30));

}

.button-list-button {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(121, 1, 71);
    margin: 20px;
    padding: 30px;
    border-radius: 0px;
    text-align: center;

}

.button-list-button:hover {

    opacity: 0.5;

}


.button-list-1 {

    background-color: rgb(241, 237, 243);
    color: black;

}



.button-home {

    background-color: rgb(121, 1, 71);
    color: white;
}

.button-event {

    background-color: rgb(241, 237, 243);
    color: black;

}


.blog-grid-section {

    display: grid;
    grid-template-columns: repeat(3, 1fr);

}


.event,
.date-time {

    display: flex;
    justify-content: center;


}

.event {

    font-size: 20px;
    margin-top: 20px;
    color: #f8a06d;
}

.date-time {

    font-size: 15px;
    color: rgb(196, 10, 118);
}

.blog-part {

    margin: 20px;
    border-radius: 10px;
    background-image: linear-gradient(rgb(94, 2, 52), rgb(37, 2, 30));
    padding: 20px;


}

.blog-img {

    color: aliceblue;
}

.blog-part:hover {


    position: relative;
    bottom: 30px;
    transition: 0.5s;
    padding-top: 25px;
}

/* Upcoming Event Hidden Cards */
.blog-extra {

    display: none;

}

.fa-bell {

    padding-left: 10px;

}

.button-list-blog-button {

    padding: 10px;
    background-color: rgb(121, 1, 71);
    border-radius: 20px;

}

.fa-bookmark {

    padding-left: 10px;

}

.fa-youtube {

    padding-left: 10px;

}

.fa-magnifying-glass {

    padding-left: 10px;

}


.bottom-button-div {
    display: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.button-bottom {

    display: none;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 20px;
    justify-items: center;
    background-color: rgb(126, 6, 96);
}






.footer {

    background-color: rgb(31, 3, 31);
    padding: 150px;
    padding-bottom: 50px;
    justify-content: center;
    margin-top: 100px;

}

.footer-header {

    display: flex;
    justify-content: center;

}

.footer-link-division {


    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 50px;
    justify-content: center;
    padding: 10px;
    border-top: 2px solid rgb(83, 3, 83);
    line-height: 100px;

}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    font-size: 15px;

}

.footer-links-logo-div {

    display: flex;
    justify-content: center;
    font-size: 40px;

}

.footer-links-logo {

    margin: 40px;
    margin-top: 60px;

}








/* 

--------------
MOBILE DEVICES
--------------

*/

@media only screen and (max-width: 668px) {

    body {

        margin: 0%;
        width: 100%;

    }

    .primary-section {

        padding: 20px;

    }

    .primary-division {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin: 20px;
        margin-top: 50px;
        padding: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 200px;
    }




    .sub-left-div {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        margin: 0px;
        margin-top: 50px;

    }

    .welcome-paragraph-div {

        display: block;
        justify-content: center;
    }



    .fifa-world-heading {

        justify-content: center;
        padding: 50px;

    }

    .welcome-paragraph {

        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
        padding: 0 20px;
        margin-left: 0;
        margin-right: 0px;
        font-size: 13px;
        /* border: 1px solid cornflowerblue; */



    }

    .button-list {
        margin-bottom: 10px;
        width: auto;

    }


    .fifa-logo {

        position: relative;

        top: 150px;
        height: 350px;
        width: 300px;
        margin: 0%;
    }


    .blog-grid-section {

        justify-items: center;

    }

    .blog-img {


        display: flex;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;

    }

    .sub-right-div {

        margin: 0px;
        display: flex;
        justify-content: center;


    }



    .champion-section {

        display: none;

    }

    .middle-division {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;

    }




    .blog-grid-section {

        grid-template-columns: repeat(1, 1fr);
        margin: 0px;
        border: 50px;
        padding: 0px;


    }

    .blog-part {

        margin: 0;
        padding: 0%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;


    }

    .button-bottom {

        display: none;

    }


    .footer-header {

        text-align: center;
    }

    .footer-link-division {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        white-space: nowrap;
        text-align: start;
        line-height: 50px;
    }



}





/* 
-------------
Tablet Device
-------------
*/

@media only screen and (min-width: 688px) and (max-width:992px) {

    body {

        margin: 0%;

    }


    .primary-division {


        display: flex;
        justify-content: center;
        margin-top: 0px;
        border-radius: 0;
        margin-left: 0px;
        padding: 0px;
        padding-bottom: 90px;
        margin-right: 0px;
        margin: 0px;
        padding: 20px;
        padding-bottom: 50px;

    }

    .sub-left-div {

        margin: 0px;
        padding: 50px;
        margin-left: 0px;
        padding-left: 80px;
        padding-bottom: 50px;


    }

    .welcome-paragraph {

        font-size: 15px;

    }

    .fifa-logo {
        position: relative;
        top: 100px;

    }

    .middle-division {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;

    }



    .button-list {

        margin: 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    .button-list-button {
        display: grid;
        grid-template-rows: repeat(1, 1fr);

    }

    .blog-grid-section {

        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin: 0px;
        border: 0px;
        padding: 20px;


    }

    .blog-part-9 {

        display: none;

    }


    .footer-link-division {


        display: flex;
        justify-content: space-around;

    }

}